<div class="dashboard-container">
  <div class="flex justify-content-end">
    <p-button (onClick)="op.toggle($event)" icon="pi pi-filter" [rounded]="true" [text]="true" />
    <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '400px', 'max-width': '100%' }">
      <ng-template pTemplate="content">
        <h2>Apply Filter</h2>
        <hr />
        <div class="flex flex-column lg:flex-row gap-2 mb-3">
          <div class="flex-grow-1">
            <div class="form-field-container">
              <label class="form-field-label" for="buttondisplay"> Select Date </label>
              <p-calendar class="png-calendar" appendTo="body" [(ngModel)]="date1" [showIcon]="true"
                inputId="buttondisplay" [showOnFocus]="false" [iconDisplay]="'input'" />
            </div>
          </div>

          <div class="align-self-center">
            <label class="form-field-label">To</label>
          </div>

          <div class="flex-grow-1">
            <label class="form-field-label" for="templatedisplay"> Select Date </label>
            <p-calendar class="png-calendar" appendTo="body" [(ngModel)]="date2" [showIcon]="true"
              inputId="buttondisplay" [showOnFocus]="false" [iconDisplay]="'input'" />
          </div>
        </div>

        <div class="flex justify-content-end gap-2">
          <button class="png-button png-button-outline" variant="outlined" pButton pRipple label="Cancel"></button>
          <button class="png-button png-button-solid" pButton pRipple label="Apply"></button>
        </div>
      </ng-template>
    </p-overlayPanel>
  </div>


  <p-tabs class="png-tab-mdblockscontainer" [value]="activeTabIndex" (valueChange)="onTabChange($event)" scrollable>
    <p-tablist class="gap-4">
      <div class="grid w-full">
        <div *ngFor="let tab of tabs" class="col-12 lg:col-6 xl:col-3">
          <p-tab [value]="tab.value">
            <div class="infocard flex flex-column">
              <div class="infocard-header flex justify-content-between mb-3">
                <div>
                  <p>{{ tab.title }}</p>
                  <h4>{{ tab.total }}</h4>
                </div>
                <div>
                  <i [class]="tab.icon"></i>
                </div>

              </div>
              <div class="infocard-content">
                <div class="icon-block grid">
                  <div *ngFor="let status of tab.statuses" class="col-6 py-0 flex align-items-center gap-1 mb-2">

                    <div [class]="'icon-bg ' + status.color">
                      <i [class]="status.icon"></i>
                    </div>
                    <span>{{ status.label }}</span>
                  </div>
                </div>
              </div>
            </div>
          </p-tab>
        </div>
      </div>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel *ngFor="let tab of tabs" [value]="tab.value">
        <h2>{{ tab.title }}</h2>
        <app-dashboard-table></app-dashboard-table>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

</div>