<div class="loginContainer">
  <div class="loginBox">
    <div class="loginBox-leftside">
      <img src="imgs/logos/logo-white.png" alt="" />
    </div>
    <div class="loginBox-rightside">
      <div class="login-header my-4">
        <h5>Set New Password</h5>
        <p>Please enter new password.</p>
      </div>
      <div class="loginBox-body">
        <form class="png-form">
          <div class="grid">
            <div class="col-12 md:col-12  form-field-container">
              <label class="form-field-label">Password</label>
              <p-inputgroup class="png-inputgroup">
                <p-inputgroup-addon>
                  <i class="pi pi-key"></i>
                </p-inputgroup-addon>
                <p-password class="png-input-password" [toggleMask]="true"></p-password>
              </p-inputgroup>
              <p class="error-message">
                <i class="fas fa-exclamation-triangle"></i>
                <span> Error message here </span>
              </p>
            </div>

            <div class="col-12 md:col-12  form-field-container">
              <label class="form-field-label">Confirm Password</label>
              <p-inputgroup class="png-inputgroup">
                <p-inputgroup-addon>
                  <i class="pi pi-key"></i>
                </p-inputgroup-addon>
                <p-password class="png-input-password" [toggleMask]="true"></p-password>
              </p-inputgroup>
              <p class="error-message">
                <i class="fas fa-exclamation-triangle"></i>
                <span> Error message here </span>
              </p>
            </div>
          </div>

          <div class="login-btn-wrapper my-5">
            <button pButton class="png-button png-button-solid" label="Submit" (click)="changepassword()"></button>
          </div>

          <div class="login-footer">
            <p class="login-rights-text">
              Copyright <span> &copy;</span> 2023 All Rights Reserved.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>