<div class="grid">
  <div class="col-12 md:col-6 lg:col-4">
    <div class="form-field-container">
      <label class="form-field-label">Item Type</label>
      <p-select class="png-dropdown" [options]="itemtype" appendTo="body" [(ngModel)]="selectedtype" optionLabel="name"
        placeholder="Placeholder" [filter]="true" [checkmark]="true" [showClear]="true" styleClass="w-full" />
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <div class="form-field-container">
      <label class="form-field-label">Item Code</label>
      <input type="text" class="png-input-text" placeholder="Placeholder" pInputText />
      <p class="error-message">
        <i class="fas fa-exclamation-triangle"></i>
        <span>Error message here</span>
      </p>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <div class="form-field-container">
      <label class="form-field-label">Item Name</label>
      <input type="text" class="png-input-text" placeholder="Placeholder" pInputText />
      <p class="error-message">
        <i class="fas fa-exclamation-triangle"></i>
        <span>Error message here</span>
      </p>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-12">
    <div class="form-field-container">
      <label class="form-field-label">Short Description</label>
      <textarea class="png-input-textarea" rows="5" cols="30" pTextarea></textarea>
      <p class="error-message">
        <i class="fas fa-exclamation-triangle"></i>
        <span>Error message here</span>
      </p>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-12">
    <div class="form-field-container">
      <label class="form-field-label">Long Description</label>
      <textarea class="png-input-textarea" rows="5" cols="30" pTextarea></textarea>
      <p class="error-message">
        <i class="fas fa-exclamation-triangle"></i>
        <span>Error message here</span>
      </p>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <div class="form-field-container">
      <label class="form-field-label">Unit of Measure</label>
      <p-select class="png-dropdown" [options]="measureunit" appendTo="body" [(ngModel)]="selectedunit"
        optionLabel="name" placeholder="Placeholder" [filter]="true" [checkmark]="true" [showClear]="true"
        styleClass="w-full" />
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <div class="form-field-container">
      <label class="form-field-label">Unit Cost</label>
      <input type="text" class="png-input-text" placeholder="Placeholder" pInputText />
      <p class="error-message">
        <i class="fas fa-exclamation-triangle"></i>
        <span>Error message here</span>
      </p>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <div class="form-field-container">
      <label class="form-field-label">Item Status</label>
      <p-selectButton class="png-select-button" [options]="itemstatusOptions" optionLabel="label" optionValue="value"
        id=""></p-selectButton>
      <p class="error-message">
        <i class="fas fa-exclamation-triangle"></i>
        <span> Error message here </span>
      </p>
    </div>
  </div>
</div>