<div class="loginContainer">
  <div class="loginBox">
    <div class="loginBox-leftside">
      <img src="imgs/logos/logo-white.png" alt="" />
    </div>
    <div class="loginBox-rightside">
      <div class="login-header mt-5 pt-3">
        <h5>Email Verification</h5>
        <p>Please enter your Email Address</p>
      </div>
      <div class="loginBox-body">
        <form class="png-form">
          <div class="grid pt-3 pb-5">
            <div class="col-12 md:col-12 form-field-container invalid-field">
              <label class="form-field-label">Email</label>
              <p-inputgroup class="png-inputgroup">
                <p-inputgroup-addon>
                  <i class="pi pi-envelope"></i>
                </p-inputgroup-addon>
                <input type="text" pInputText class="png-input-text" />
              </p-inputgroup>
              <p class="error-message">
                <i class="fas fa-exclamation-triangle"></i>
                <span> Error message here </span>
              </p>
            </div>
          </div>

          <div class="login-btn-wrapper mb-5">
            <button pButton class="png-button png-button-solid" label="Submit" (click)="setnewpassword()"></button>
          </div>
          <div class="login-footer">
            <p class="login-rights-text">
              Copyright <span> &copy;</span> 2024 All Rights Reserved.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>