::ng-deep {
    .ordercardsblock {
        .p-selectbutton .p-togglebutton {
            width: 100%;
        }

        .p-selectbutton {
            flex-wrap: wrap;
        }

        .p-togglebutton {
            display: block;
        }

        .p-togglebutton-content {
            display: block;
        }
    }
}


.ordercardsblock {
    .primary {
        background-color: #e7f3ff;

        .details-icons {
            background-color: #326fd1;
        }
    }

    .secondary {
        background-color: #f9fafb;

        .details-icons {
            background-color: #6b7280;
        }
    }

    .warning {
        background-color: #fff7e6;

        .details-icons {
            background-color: #f59e0b;
        }
    }

    .success {
        background-color: #e8f9e9;

        .details-icons {
            background-color: #22c55e;
        }
    }

    .danger {
        background-color: #ffedee;

        .details-icons {
            background-color: #ef4444;
        }
    }

    .primary-light {
        background-color: #e7f3ff;

        .details-icons {
            background-color: #2196f3;
        }
    }
}
