.form-field-container-read-view {
    margin-bottom: 16px;
}
.read-view-title-sm {
    letter-spacing: 0.42px;
    font-size: 14px;
    font-family: "Poppins-Regular";
    color: var(--secondary-clr-text);
}

.read-view-value-sm {
    letter-spacing: 0.42px;
    font-size: 14px;
    font-family: "Poppins-Medium";
    color: var(--primary-clr-text);
    margin-left: 0.25rem;
}