<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/bubbles.png" class="logo img-fluid" alt>

            <span class="ms-2">ALFA MARINE</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Who We Are</a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="services.html">About ALFA</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="services.html"> Mission and Vision </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="coming-soon.html">Leadership</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="page-404.html">Our Culture</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">What We Do </a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="services.html">Our Solutions</a>
                        </li>

                        <li><a class="dropdown-item" href="coming-soon.html">Our Core
                                Services</a>
                        </li>
                        <li><a class="dropdown-item" href="page-404.html">Our Product /
                                Supplies</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Contanct Us </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="services.html">Commercial
                                Inquiries </a></li>

                        <li><a class="dropdown-item" href="coming-soon.html">Become a
                                Supplier </a></li>

                        <li><a class="dropdown-item" href="page-404.html">Speak UP</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Sustainability </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Environmental Responsibility
                            </a></li>

                        <li><a class="dropdown-item" href="#"> Health,
                                Safety & Environmental Policy </a></li>

                        <li><a class="dropdown-item" href="#">Quality
                                Assurance Policy </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Media </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">News
                            </a></li>

                        <li><a class="dropdown-item" href="#">Gallery
                            </a></li>

                        <li><a class="dropdown-item" href="#">Download
                            </a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>