<p-card class="png-card mb-5">
    <p-tabs class="png-tab-horizontal" value="0">
        <p-tablist>
            <p-tab value="0">Basic Information</p-tab>
            <p-tab value="1"> Add Items</p-tab>
            <p-tab value="2"> Documents</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-basicinfo-contract></app-basicinfo-contract>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-additems-contract></app-additems-contract>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-doc-contract></app-doc-contract>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-card>