<div class="png-dialog-content">
    <div class="flex flex-column png-radiobuttons-boxed">
        @for(contract of categories;let first=$first;track $index) {
        <div class="field-checkbox boxed-radio" [ngClass]="{ 'active': selectedContract === contract }"
            (click)="onContractSelect(contract)">
            <p-radiobutton class="png-radiobtn" [inputId]="contract.id" name="contract" [value]="contract"
                [(ngModel)]="selectedContract">
            </p-radiobutton>
            <div class="flex flex-column">
                <label class="radiobtn-label" [for]="contract.id">{{ contract.name }}</label>
                <p class="radiobtn-description">{{ contract.description }}</p>
            </div>
        </div>
        }
    </div>
    <div class="png-dailogbox-footer">
        <button pButton class="png-button png-button-outline" label="Close" (click)="onDialogClose()"></button>
        <button pButton class="png-button png-button-solid" label="Add"></button>
    </div>
</div>