<div class="png-dialog-content" id="">

    <p-card class="png-card mb-5">
        <p-tabs class="png-tab-horizontal" value="0">
            <p-tablist>
                <p-tab value="0" selected>Select Items</p-tab>
                <p-tab value="1">Import Items</p-tab>
                <p-tab value="2">Add New Items</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <app-select-items></app-select-items>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <app-import-items></app-import-items>
                </p-tabpanel>
                <p-tabpanel value="2">
                    <app-add-new-items></app-add-new-items>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </p-card>
    <div class="png-dailogbox-footer justify-content-end pr-4">
        <button pButton class="png-button png-button-solid" label="Save Items" (click)="onDialogClose()"></button>
    </div>
</div>