::ng-deep {
    .user-card {
        .p-card .p-card-body {
            padding: 0.5rem;
            height: 85vh;
        }
        .p-card {
            box-shadow: none;
        }
    }
}
.user-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h3 {
        letter-spacing: 0.32px;
        color: #1c415b;
        font-size: 20px;
        margin: 0;
    }
}
