<div class="png-dialog-content" id="">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
      <div class="form-field-container">
        <label class="form-field-label">Code</label>
        <input
          type="text"
          class="png-input-text"
          placeholder="Placeholder"
          pInputText
        />
        <p class="error-message">
          <i class="fas fa-exclamation-triangle"></i>
          <span>Error message here</span>
        </p>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="form-field-container">
        <label class="form-field-label">Name</label>
        <input
          type="text"
          class="png-input-text"
          placeholder="Placeholder"
          pInputText
        />
        <p class="error-message">
          <i class="fas fa-exclamation-triangle"></i>
          <span>Error message here</span>
        </p>
      </div>
    </div>
    <div class="col-12 md:col-12 lg:col-6">
      <div class="form-field-container">
        <label class="form-field-label">Organization Name</label>
        <p-select
          class="png-dropdown"
          [options]="organizationlist"
          appendTo="body"
          optionLabel="name"
          placeholder="Placeholder"
          [filter]="true"
          [checkmark]="true"
          [showClear]="true"
          styleClass="w-full"
        />
      </div>
    </div>
    <div class="col-12 md:col-12 lg:col-6">
      <div class="form-field-container">
        <label class="form-field-label">Contract Title</label>
        <p-select
          class="png-dropdown"
          [options]="contracttitle"
          appendTo="body"
          optionLabel="name"
          placeholder="Placeholder"
          [filter]="true"
          [checkmark]="true"
          [showClear]="true"
          styleClass="w-full"
        />
      </div>
    </div>
    <div class="col-12 md:col-12 lg:col-6">
      <div class="form-field-container">
        <label class="form-field-label">Status</label>
        <p-select
          class="png-dropdown"
          [options]="status"
          appendTo="body"
          optionLabel="name"
          placeholder="Placeholder"
          [filter]="true"
          [checkmark]="true"
          [showClear]="true"
          styleClass="w-full"
        />
      </div>
    </div>
    <div class="col-12 md:col-12 lg:col-6">
      <div class="form-field-container">
        <label class="form-field-label field-required">End Date</label>
        <p-calendar
          class="png-calendar"
          [showIcon]="true"
          [monthNavigator]="true"
          appendTo="body"
          [yearNavigator]="true"
          yearRange="2000:2030"
          [showButtonBar]="true"
          id=""
        ></p-calendar>
        <p class="error-message">
          <i class="fas fa-exclamation-triangle"></i>
          <span> Error message here </span>
        </p>
      </div>
    </div>
  </div>

  <div class="png-dailogbox-footer justify-content-end pr-4">
    <button
      pButton
      class="png-button png-button-outline"
      label="Close"
      (click)="onDialogClose()"
    ></button>
    <button pButton class="png-button png-button-solid" label="Add"></button>
  </div>
</div>
