<div>
  <h3>Added Items</h3>
  <p>
    These Items are non-contractual items that will be added in the change order
  </p>
  <button class="png-button png-button-solid" pButton pRipple label="Add New Item" icon="pi pi-plus" iconPos="left"
    (click)="showAddItemsChangeOrderDialog()"></button>
  <p-table [value]="addeditemTable" dataKey="userId" class="png-table" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]" paginatorDropdownAppendTo="body">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let header of tableHeaders">
          <div class="blockheader-with-text">{{ header.header }}</div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-site>
      <tr>
        <td *ngFor="let header of tableHeaders">
          <!-- Actions Field: Display Buttons -->
          <div class="png-table-actions flex gap-2" *ngIf="header.field === 'actions'">
             <p-toast class="png-toast"/>
            <p-button class="btnicon-sm" icon="pi pi-trash" [rounded]="true" [outlined]="true"
              severity="danger"  (click)="showDeleteDialog()"></p-button>
          </div>

          <!-- Default Fields -->
          <div class="block-with-text" *ngIf="header.field !== 'actions'">
            {{ site[header.field] }}
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="no-data-found" colspan="7">No data found</td>
      </tr>
    </ng-template>
  </p-table>
</div>