<div class="loginContainer">
  <div class="loginBox">
    <div class="loginBox-leftside">
      <img src="imgs/logos/logo-white.png" alt="" />
    </div>
    <div class="loginBox-rightside">
      <div class="login-header mt-5 pt-3">
        <h5>Change Password</h5>
      </div>
      <div class="loginBox-body">
        <form class="png-form">
          <div class="grid pt-4">
            <div class="col-12">
              <div class="grid">
                <div class="col-12 md:col-12 form-field-container">
                  <label class="form-field-label">Current Password</label>
                  <p-inputgroup class="png-inputgroup">
                    <p-inputgroup-addon>
                      <i class="pi pi-key"></i>
                    </p-inputgroup-addon>
                    <p-password class="png-input-password" [toggleMask]="true"></p-password>
                  </p-inputgroup>
                  <p class="error-message">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span> Error message here </span>
                  </p>
                </div>
                <div class="col-12 md:col-12 form-field-container">
                  <label class="form-field-label">New Password</label>
                  <p-inputgroup class="png-inputgroup">
                    <p-inputgroup-addon>
                      <i class="pi pi-key"></i>
                    </p-inputgroup-addon>
                    <p-password class="png-input-password" [toggleMask]="true"></p-password>
                  </p-inputgroup>
                  <p class="error-message">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span> Error message here </span>
                  </p>
                </div>
                <div class="col-12 md:col-12 form-field-container">
                  <label class="form-field-label">Confirm New Password</label>
                  <p-inputgroup class="png-inputgroup">
                    <p-inputgroup-addon>
                      <i class="pi pi-key"></i>
                    </p-inputgroup-addon>
                    <p-password class="png-input-password" [toggleMask]="true"></p-password>
                  </p-inputgroup>
                  <p class="error-message">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span> Error message here </span>
                  </p>
                </div>

                <div class="col-12 md:col-12 mt-2 mb-4 text-right">
                  <button pButton class="png-button png-button-solid px-4" label="Save" (click)="login()"></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>