<p-card styleClass="png-card mb-5">
    <div class="png-card-header">
        <h3 class="png-card-title">Contracts</h3>
        <div class="png-card-header-btns">
            <p-iconField iconPosition="left" class="png-iconfield">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Global Search" />
            </p-iconField>
            <button class="png-button png-button-solid" pButton pRipple label="Add New Contract" icon="pi pi-plus"
                iconPos="left" (click)="showNewContractDialog()"></button>
        </div>
    </div>

    <div class="png-card-body">
        <div class="png-table-container">
            <p-table [value]="contracttable" [(selection)]="selectedrow" dataKey="code" class="png-table"
                [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" paginatorDropdownAppendTo="body">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let header of tableHeaders">
                            <div class="blockheader-with-text">{{ header.header }}</div>
                        </th>
                    </tr>
                </ng-template>


                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>

                        <td *ngFor="let header of tableHeaders">
                            <div *ngIf="header.field === 'status'">
                                <p-tag class="png-tag" [severity]="
                      product[header.field] === 'Approved'
                        ? 'success'
                        : product[header.field] === 'Rejected'
                        ? 'danger'
                        : product[header.field] === 'Draft'
                        ? 'secondary'
                        : product[header.field] === 'Pending'
                        ? 'warn'
                        : product[header.field] === 'Closed'
                        ? 'info'
                        : 'info'
                    ">
                                    {{ product[header.field] }}
                                </p-tag>
                            </div>

                            <div class="png-table-actions flex gap-2" *ngIf="header.field === 'actions'">
                                <p-button class="btnicon-sm" icon="pi pi-eye" [rounded]="true" [outlined]="true"
                                    severity="success"></p-button>
                            </div>


                            <div class="block-with-text"
                                *ngIf="header.field !== 'status' && header.field !== 'actions'">
                                {{ product[header.field] }}
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="no-data-found" colspan="7">No data found</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>