<p-card class="png-card mb-5">
  <div class="png-card-header">
    <h3 class="png-card-title">Documents</h3>
    <div class="png-card-header-btns">
      <p-iconField iconPosition="left" class="png-iconfield">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
      </p-iconField>
      <button class="png-button png-button-solid" pButton pRipple label="Add Documents" icon="pi pi-plus" iconPos="left"
        (click)="showAddDocumentDialog()"></button>
    </div>
  </div>
  <div class="png-card-body">
    <div class="png-table-container">
      <p-table [value]="doctable" dataKey="code" class="png-table" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 20, 50]" paginatorDropdownAppendTo="body">
        <!-- Table Header -->
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let header of tableHeaders">
              <div class="blockheader-with-text">{{ header.header }}</div>
            </th>
          </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-item>
          <tr>
            <td *ngFor="let header of tableHeaders">
              <!-- Actions Field: Display Buttons -->
              <div *ngIf="header.field === 'actions'" class="png-table-actions flex gap-2">
                <p-button class="btnicon-sm" icon="pi pi-eye" [rounded]="true" [outlined]="true"
                  severity="success"></p-button>
                <p-button class="btnicon-sm" icon="pi pi-pencil" [rounded]="true" [outlined]="true"
                  severity="info"></p-button>
                <p-button class="btnicon-sm" icon="pi pi-trash" [rounded]="true" [outlined]="true"
                  severity="danger"></p-button>
              </div>
              <div *ngIf="header.field === 'unitCost'" class="flex gap-2">
                <p-inputnumber inputId="integeronly" class="png-input-number" />
              </div>
              <!-- Default Fields -->
              <div class="block-with-text" *ngIf="header.field !== 'status' && header.field !== 'actions'">
                {{ item[header.field] }}
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="no-data-found" colspan="7">No data found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="png-card-footer flex justify-content-end gap-2">
    <button class="png-button png-button-outline" pButton pRipple label="Cancel"></button>
    <button class="png-button png-button-solid" pButton pRipple label="Send for Approval"></button>
  </div>
</p-card>