<p-card styleClass="png-card mb-5">
    <div class="png-card-body">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-4">
                <div class="form-field-container">
                    <label class="form-field-label">Contract Id</label>
                    <input type="text" class="png-input-text" placeholder="Placeholder" pInputText />
                    <p class="error-message">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span>Error message here</span>
                    </p>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="form-field-container">
                    <label class="form-field-label">Contract Name</label>
                    <input type="text" class="png-input-text" placeholder="Placeholder" pInputText />
                    <p class="error-message">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span>Error message here</span>
                    </p>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="form-field-container">
                    <label class="form-field-label">Organization</label>
                    <p-select class="png-dropdown" [options]="organizations" appendTo="body" [(ngModel)]="selectedorg"
                        optionLabel="name" placeholder="Placeholder" [filter]="true" [checkmark]="true"
                        [showClear]="true" styleClass="w-full" />
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4 ">
                <div class="flex gap-2">
                    <div class="form-field-container">
                        <label class="form-field-label field-required">Start Date</label>
                        <p-calendar class="png-calendar" [showIcon]="true" [monthNavigator]="true" appendTo="body"
                            [yearNavigator]="true" yearRange="2000:2030" [showButtonBar]="true" id=""></p-calendar>
                        <p class="error-message">
                            <i class="fas fa-exclamation-triangle"></i>
                            <span> Error message here </span>
                        </p>
                    </div>
                    <div class="form-field-container">
                        <label class="form-field-label field-required">End Date</label>
                        <p-calendar class="png-calendar" [showIcon]="true" [monthNavigator]="true" appendTo="body"
                            [yearNavigator]="true" yearRange="2000:2030" [showButtonBar]="true" id=""></p-calendar>
                        <p class="error-message">
                            <i class="fas fa-exclamation-triangle"></i>
                            <span> Error message here </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="form-field-container">
                    <label class="form-field-label">Status</label>
                    <p-select class="png-dropdown" [options]="status" appendTo="body" [(ngModel)]="selectedstatus"
                        optionLabel="name" placeholder="Placeholder" [filter]="true" [checkmark]="true"
                        [showClear]="true" styleClass="w-full" />
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="form-field-container">
                    <label class="form-field-label">Site Supervision</label>
                    <input type="text" class="png-input-text" placeholder="Placeholder" pInputText />
                    <p class="error-message">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span>Error message here</span>
                    </p>
                </div>
            </div>
            <div class="col-12 md:col-12 lg:col-12">
                <div class="form-field-container">
                    <label class="form-field-label">Notes</label>
                    <textarea cols="30" class="png-input-textarea" pTextarea></textarea>
                    <p class="error-message">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span>Error message here</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="png-card-footer flex justify-content-end gap-2">
        <button class="png-button png-button-outline" pButton pRipple label="Cancel"></button>
        <button class="png-button png-button-solid" pButton pRipple label="Send for Approval"></button>
    </div>
</p-card>